<nz-sider nzCollapsible nzWidth="200px">
  <ul nz-menu nzTheme="dark" nzMode="inline" class="item-list">
    <li nz-menu-item [routerLink]="['dashboard']">
      <span nz-icon nzType="pie-chart"></span>
      <span>Dashboard</span>
    </li>
    <li nz-menu-item [routerLink]="['players']">
      <span nz-icon nzType="pie-chart"></span>
      <span>Players</span>
    </li>
    <li nz-menu-item [routerLink]="['standings']">
      <span nz-icon nzType="pie-chart"></span>
      <span>Standings</span>
    </li>
  </ul>
</nz-sider>
